<html>
<head>
	<title>login page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>

	<div class="jumbotron">
		<h1>Welcome</h1>
	</div>

	<div class="container">
		<h1>its a login page</h1>
		<button type="submit" class="btn btn-primary">Login</button>
	</div>

</body>
</html>